---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=restaurants&latitude=40.015831&limit=1&longitude=-105.279266&open_now=true&term=cheese%20burger
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4996'
      X-Zipkin-Id:
      - 11edc56df08898e7
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-5b584d59bc-kxh6p; site=public_api_v3
      X-Proxied:
      - 10-69-70-199-uswest2aprod
      X-Extlb:
      - 10-69-70-199-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "ZtCVIg5moaqmarxpcoTyMw", "alias": "snarfburger-boulder",
        "name": "Snarfburger", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/F8YqcdkYBheuvX3YqEUcMQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/snarfburger-boulder?adjust_creative=gFVl6Sj2QowCbap6mg3MZA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=gFVl6Sj2QowCbap6mg3MZA",
        "review_count": 163, "categories": [{"alias": "burgers", "title": "Burgers"},
        {"alias": "hotdogs", "title": "Fast Food"}, {"alias": "tradamerican", "title":
        "American (Traditional)"}], "rating": 3.5, "coordinates": {"latitude": 40.014478,
        "longitude": -105.268864}, "transactions": ["delivery"], "price": "$", "location":
        {"address1": "2000 Arapahoe Ave", "address2": null, "address3": "", "city":
        "Boulder", "zip_code": "80302", "country": "US", "state": "CO", "display_address":
        ["2000 Arapahoe Ave", "Boulder, CO 80302"]}, "phone": "+13034447711", "display_phone":
        "(303) 444-7711", "distance": 898.5319758051841}], "total": 52, "region":
        {"center": {"longitude": -105.279266, "latitude": 40.015831}}}'
  recorded_at: Tue, 19 Jan 2021 18:16:22 GMT
recorded_with: VCR 6.0.0
