---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_KEY>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1610829919,"sunrise":1610806713,"sunset":1610841641,"temp":281.88,"feels_like":277.45,"pressure":1018,"humidity":37,"dew_point":268.59,"uvi":1.17,"clouds":0,"visibility":10000,"wind_speed":2.58,"wind_deg":86,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1610827200,"temp":281.88,"feels_like":277.45,"pressure":1018,"humidity":37,"dew_point":268.59,"uvi":1.7,"clouds":0,"visibility":10000,"wind_speed":2.58,"wind_deg":86,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1610830800,"temp":280.78,"feels_like":276.55,"pressure":1018,"humidity":47,"dew_point":270.54,"uvi":1.17,"clouds":0,"visibility":10000,"wind_speed":2.64,"wind_deg":79,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1610834400,"temp":280.05,"feels_like":276.47,"pressure":1020,"humidity":52,"dew_point":271.15,"uvi":0.59,"clouds":0,"visibility":10000,"wind_speed":1.83,"wind_deg":113,"weather":[{"id":800,"main":"Clear","description":"clear[...]
