---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_KEY>&location=%3Blkaso&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 16 Jan 2021 19:13:06 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":";lkaso"},"locations":[{"street":"Lakso
        Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Iron River","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"MI","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"49935","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p0/735163","unknownInput":"","type":"s","latLng":{"lat":46.17413,"lng":-88.70634},"displayLatLng":{"lat":46.17413,"lng":-88.70634},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_KEY>&type=map&size=225,160&locations=46.17413,-88.70634|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-1439763108"}]}]}'
  recorded_at: Sat, 16 Jan 2021 19:13:06 GMT
recorded_with: VCR 6.0.0
