---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_KEY>&exclude=minutely,alerts&lat=40.015831&lon=-105.279266&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.0158,"lon":-105.2793,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611102833,"sunrise":1611065940,"sunset":1611101072,"temp":31.17,"feels_like":22.89,"pressure":1025,"humidity":43,"dew_point":13.46,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":4.61,"wind_deg":50,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1611100800,"temp":31.17,"feels_like":24.19,"pressure":1025,"humidity":43,"dew_point":13.46,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":2.3,"wind_deg":139,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1611104400,"temp":28.9,"feels_like":22.64,"pressure":1028,"humidity":64,"dew_point":19.45,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":1.97,"wind_deg":218,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1611108000,"temp":27.7,"feels_like":21.74,"pressure":1030,"humidity":76,"dew_point":21.88,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":1.9,"wind_deg":221,"weather":[{"id":800,"main":"Clear","description":"clear
        sky",[...]
